/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: normal;
}

H1
{
    font-size: 1.5em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h3

{
    font-size: 0.8em;
    font-weight: normal;
}

ul

{
    display: flex;
    list-style-type: none;
} 

header, .section-recherche, .section-hebergements, .section-activites, footer

{
    padding-right: 35px;
    padding-left: 35px;
}
/*Header*/

#logo-titre
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo img
{
    width: auto;
    height: auto;
}

/*Navigation*/

#logo-navigation
{
    
    display: flex;
    padding-top: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
#navigation

{
    list-style-type: none;
    justify-content: flex-end;
}
.logo
{
    display: flex;
    justify-content: flex-start;
}

nav a
{
    font-size: 0.8em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav li
{
    margin-left: 30px;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

/*Zone de recherche*/

#zone_recherche
{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 30px;
}
#barre_recherche
{
        display: flex;
        align-items:baseline;
}
.barre_recherche i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #F2F2F2;
   
}

input
{
    border: 1.5px solid #F2F2F2;
    height: 2.5em;
    margin-left:auto;
    padding-left: 10px;
    vertical-align: middle;
        
}

.bouton_recherche
{
    cursor: pointer;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.9em;
    margin-left: -4px;
    vertical-align: middle;    
}

/*SECTION DES FILTRES*/

#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: baseline;
    width: 100%;
}

.titre_filtres h2, .filtre_economique h2, .filtre_familial h2, .filtre_romantique h2, .filtre_animaux h2

{
    font-weight: 500;
}

.filtre_economique:hover, .filtre_familial:hover, .filtre_romantique:hover, .filtre_animaux:hover
{
    background: #DEEBFF;
}

.filtre_economique, .filtre_familial, .filtre_romantique, .filtre_animaux
{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: stretch;
    margin-right:10px;
    padding-right: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    border-left: 10px;
    height: 35px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog

{
    margin-right: 10px;
    margin-left: 0px;
    color: #0065FC;
    background: #DEEBFF;
    border: 10px solid #DEEBFF;
    border-radius: 100%;
}
.nbrelogements
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.fa-circle
{
    color: #F2F2F2;
}
.fa-info
{
    color: #0065FC;
}
.fa-stack
{
    font-size: 10px;
}

/*SECTION HEBERGEMENTS*/

.section-hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-hebergements > article
{
    width: 62%;
}
.section-hebergements > aside
{
    width: 25%;
    padding: 35px;
}
.hebergements
{
    background-color:#F2F2F2 ;
    border-radius: 10px;
    padding: 35px;
}

.liste-hebergements
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-1, .hebergements-2, .hebergements-3, .hebergements-4, .hebergements-5, .hebergements-6

{
    align-items: center;
    padding: 6px;
    height: 220px;
    width: 30%;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cannebiere img, .hotelport img, .hotelmouettes img, .hotelmer img, .aubergepanier img, .hotelamina img
{
    width: 100%;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.cannebiere_descrip, .hotelport_descrip, .hotelmouettes_descrip, .hotelmer_descrip, .hotelmer_descrip, .aubergepanier_descrip, .hotelamina_descrip

{
padding-left: 10px;
}

.afficherplus

{
    margin-left: 10px;
    width: 100%;
}
.fa-star
{
    color: #0065FC;
    font-size:0.8rem;
}

.fa-star.gris
{
    color: #F2F2F2;
    font-size:0.8rem;
}

/*SECTION ASIDE*/

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 15px;
    margin-left: 20px;
   
}
.aside

{
    margin-bottom: 25px;
}

.aside img
{
    width: 129px;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.aside-titre
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside figure
{
    display: flex;
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#aside
{
    display: flex;
    flex-direction: column;
}

.aside figcaption
{
    padding-left: 10px;
}
.aside span
{
    margin-top: 20px;
}
/*SECTION ACTIVITES*/


.section-activites
{
    display: flex;
    margin-bottom: 50px;
}
.section-activites > .activites
{
    width: 100%;
}

.activites h2

{
    padding: 15px;
    font-weight: bold;
}
.activites
{
    display: flex;
    width: 100%;
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between
}

#titre-activites

{
    width: 100%;
}

.activites-1

{
    width: 22%;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;

}


.activites-1 img

{
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    
}

.activites-23, .activites-56
{
    display: flex;
    align-content: space-between;
    width: 22%;
    flex-wrap: wrap;
    background-color: white;
    box-sizing: border-box;
   
}

.activites-2

{
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    box-sizing: border-box;
}

.activites-2 img

{
    width: 100%;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

}

.activites-3
{
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    box-sizing: border-box;
}

.activites-3 img

{
    width: 100%;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

}

.activites-4

{
    width: 22%;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    box-sizing: border-box;

}

.activites-4 img

{
    width: 100%;
    height: 340px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

}

.activites-5

{
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    box-sizing: border-box;
}

.activites-5 img
{
    height: 140px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

}

.activites-6
{
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    box-sizing: border-box;
}

.activites-6 img

{
    width: 100%;
    height:110px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

}


/*--SECTION FOOTER--*/


footer
{
    background-color: #F2F2F2;
}
#footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
}

#apropos
{
    width: 33%;
}

#noshebergements
{
    width: 33%;
}
#assistance
{
    width: 33%;
}

/*--STYLE MOBILE*/

@media screen and (max-width:768px)
{
    
    .logo img
    {
        width: 200%;
    }
    .activites-1, .activites-23, .activites-4, .activites-56
    {
        width: 94%;
        margin-bottom: 20px;
    }
    .activites-2, .activites-5
    {
        margin-bottom: 20px;
    }
    .titre_filtres
    {
        width: 100%;
    
    }
    #filtres
    {
        flex-flow: column;
    }
    .titre_filtres
    {
        padding-bottom: 10px;
    }
    .filtre_economique, .filtre_familial, .filtre_romantique, .filtre_animaux
    {
        margin-bottom: 10px;
    }
    .slogan h1
    {
        font-size: 1.2em;
    }
    .slogan h2
    {
        font-size: 0.8em;
    }
    .nbrelogements h2
    {
        font-size: 0.8em;
    }

    /*HEBERGEMENT*/

    .section-hebergements
    {
            flex-direction: column-reverse;
            width: 100%;
    }
    .section-hebergements > article
    {
        width: 100%;
    }
    .section-hebergements > aside
    {
        width: 100%;
        padding: 0;
    }
    .hebergements-1, .hebergements-2, .hebergements-3, .hebergements-4, .hebergements-5, .hebergements-6
    {
        width: 100%;
    }
    .hebergements
    {
        border-radius: 0;
        padding: 0%;
    }
    #hebergements-titre h1
    {
        font-size: 1.2em;
    }
    #hebergements-titre
    {
        padding-left: 10px;
    }
    .section-herbergements > aside
    {
        width: 100%;
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 30px;
        padding-top: 10px;
    }
    .section-hebergements
    {
        padding: 0;
    }
    .liste-hebergements
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    aside
    {
        margin: 0;
        border-radius: 0;
    }
    .aside-titre h1
    {
        font-size: 1.2em;
    }
    .aside-titre
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
    }
    #aside
    {
        padding-left: 10px;
        padding-right: 10px;
    }
/*SECTION ACTIVITES*/

    #titre-activites h1
    {
        font-size: 1.2em;
    }
    .section-activites
    {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-activites > .activites
    {
        flex-direction: column;
        width: 100%;
    }
    .activites
    {
        width: 100%;
    }
    .activites-1 img
    {
        height: 200px;
        width: 100%;
    }

    /*FOOTER*/

    #footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #apropos, #noshebergements, #assistance
    {
        width: 100%;
    }
    .footer h1
    {
        font-size: 1.2em;
    }
    .footer h2
    {
        font-size: 0.8em;
    }
}