/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: normal;
}

H1
{
    font-size: 1.5em;
    font-weight: 500;
}

h2
{
    font-size: 1em;
    font-weight: 500;
}

h3

{
    font-size: 0.8em;
    font-weight: 500;
}

ul

{
    display: flex;
    list-style-type: none;
} 

header, .section-recherche, .section-herbergements, .section-activites

{
    padding: 0 45px;
}
/*Header*/

#titre_principal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 63px;
    height: 33px;
}

/*Navigation*/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    font-size: 0.7em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav li
{
    margin-right: 40px;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

/*Zone de recherche*/

#zone_recherche
{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
#barre_recherche
{
        display: flex;
        align-items:baseline;
}
.barre_recherche i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #F2F2F2;
   
}

input
{
    border: 1.5px solid #F2F2F2;
    height: 2.5em;
    margin-left:auto;
    vertical-align: middle;
        
}

.bouton_recherche
{
    cursor: pointer;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.9em;
    margin-left: -4px;
    vertical-align: middle;    
}

/*SECTION DES FILTRES*/

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    align-items: baseline;
    width: 100%;
}

.titre_filtres h2, .filtre_economique h2, .filtre_familial h2, .filtre_romantique h2, .filtre_animaux h2

{
    font-weight: 500;
}

.filtre_economique:hover, .filtre_familial:hover, .filtre_romantique:hover, .filtre_animaux:hover
{
    background: #DEEBFF;
}

.filtre_economique, .filtre_familial, .filtre_romantique, .filtre_animaux
{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: stretch;
    margin-left:10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    border-left: 10px;
    height: 35px;
    width: 15%;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog

{
    margin-right: 10px;
    margin-left: 0px;
    color: #0065FC;
    background: #DEEBFF;
    border: 10px solid #DEEBFF;
    border-radius: 100%;
}
.nbrelogements
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.fa-circle
{
    color: #F2F2F2;
}
.fa-info
{
    color: #0065FC;
}
.fa-stack
{
    font-size: 10px;
}

/*SECTION HEBERGEMENTS*/

.section-herbergements
{
    display: flex;
}
.section-herbergements > article
{
    width: 65%;
}
.section-herbergements > aside
{
    width: 30%;
    padding: 35px;
}
.hebergements
{
    background-color:#F2F2F2 ;
    border-radius: 10px;
    padding: 35px;
}

.liste-hebergements
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-1, .hebergements-2, .hebergements-3, .hebergements-4, .hebergements-5, .hebergements-6

{
    align-items: center;
    padding: 6px;
    height: 220px;
    width: 30%;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cannebiere img, .hotelport img, .hotelmouettes img, .hotelmer img, .aubergepanier img, .hotelamina img
{
    width: 100%;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.cannebiere_descrip, .hotelport_descrip, .hotelmouettes_descrip, .hotelmer_descrip, .hotelmer_descrip, .aubergepanier_descrip, .hotelamina_descrip

{
padding-left: 10px;
}

.afficherplus

{
    margin-left: 10px;
    width: 100%;
}
.fa-star
{
    color: #0065FC;
    font-size:0.8rem;
}

.fa-star.gris
{
    color: #F2F2F2;
    font-size:0.8rem;
}

/*SECTION ASIDE*/

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 15px;
    margin-left: 20px;
   
}
.aside

{
    margin-bottom: 25px;
}

.aside img
{
    width: 129px;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.aside-titre
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside figure
{
    display: flex;
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#aside
{
    display: flex;
    flex-direction: column;
}

.aside figcaption
{
    padding-left: 10px;
}
.aside span
{
    margin-top: 20px;
}
/*SECTION ACTIVITES*/


.activites

{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1420px;
    
}

.titre_activites

{
    display: flex;
    width: 100%;
    margin-left: 25px;

}

.activites1

{
    width: 300px;
    margin-left: 25px;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;

}

.activites1 img

{
    width: 100%;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites23, .activites56

{
    width: 300px;
    height: 450px;
    margin-left: 25px;
    background-color: white;
   
}

.activites2

{
    height: 240px;
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    margin-bottom: 40px;
}

.activites2 img

{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites3
{
    height: 170px;
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
}

.activites3 img

{
    height: 170px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites4

{
    width: 300px;
    margin-left: 25px;
    background-color: white;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;

}

.activites4 img

{
    width: 100%;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites5

{
    height: 197px;
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
    margin-bottom: 105px;
}

.activites5 img
{
    height: 140px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites6

{
    height: 200px;
    width: 300px;
    box-shadow: 4px 4px 6px #aaa;
    border-radius: 15px;
}

.activites6 img

{
    height: 150px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#footer

{
    display: flex;
    background: #F2F2F2;
    flex-direction: row;
    margin: 30px;
}

.apropos

{
    display: flex;
    
 
}